@use "../abstracts" as abstract;

.header {
    margin-block: abstract.$fs-400;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: space-around;
    ul {
        padding-inline: 2rem;
        position: relative;

        &::after {
            content: "";

            background-color: abstract.$text-light-grey;

            transform: translateY(-(abstract.$fs-400 * 2));
            display: block;
            position: absolute;
            top: 0;
            right: 0;

            width: 1px;
            height: 120%;
        }
    }
    li {
        list-style-type: none;
        margin-bottom: abstract.$fs-400;
    }
    a {
        text-decoration: none;
        @include abstract.link-hover-effect-2(abstract.$accent);
    }

    &__caurosel {
        display: flex;
        justify-content: space-around;
        padding: abstract.$fs-300 abstract.$fs-xl;
        &__placeholder {
            object-fit: fill;
            width: 80%;
        }
    }
}
