@use "../abstracts" as abstract;

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    margin-inline: 5.5rem;
    flex-wrap: wrap;
    position: relative;

    &::after {
        content: "";
        display: block;
        background-color: abstract.$text-light-grey;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 1px;
    }
}

nav {
    color: abstract.$text-dark;

    a {
        color: abstract.$text-dark;
        position: relative;
    }

    li {
        list-style-type: none;
        a {
            @include abstract.link-hover-effect-1;
        }
    }

    .brand-logo {
        font-family: abstract.$ff-heading;
        font-size: abstract.$fs-500;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.72px;
        text-decoration: none;
    }

    .navigation-top {
        display: flex;
        gap: 3rem;

        a {
            text-decoration: none;
        }
    }

    .actions-top {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        i {
            cursor: pointer;
            font-size: abstract.$fs-500;
        }

        &__search {
            &__group {
                display: flex;
                padding: 0.5rem;
                background-color: abstract.$secondary-1;
            }

            &__button {
                cursor: pointer;
            }

            &__input,
            &__button {
                background-color: abstract.$secondary-1;
                border: none;
                outline: none;
            }
        }
    }
}
