{% load static %}
<footer class="d-flex flex-column justify-content-center align-item-center mt-5 " >
    <div class="my-5 footer-links-container mx-auto">
        <div class="brand">
            <div>
                {% include "includes/brand.html" %}
                <h4 class="my-3">Subscribe</h4>
                <p><span>Get 10% off your first order</span></p>
            </div>
            <form  action="">
                <div class="form-group">
                    <input type="email" name="" id="email-input" placeholder="Enter Your Email" />
                    <button type="submit">
                        <i class="fa-regular fa-paper-plane"></i>
                    </button>
                </div>
            </form>
        </div>
        <div>
            <h4>Support</h4>
            <address>
                <p>111 Kanju, Swat, KP, Pakistan.</p>
                <p><a href="mailto:artmartswat@gmail.com">artmartswat@gmail.com</a></p>
                <p><a href="tel:+92333456789101">+92-333-456789101</a></p>
            </address>
        </div>
        <div>
            <h4>Account</h4>
            <ul>
                <li><a href="#">My Account</a></li>
                <li><a href="#">Cart</a></li>
                <li><a href="#">Login / Register</a></li>
                <li><a href="#">Wishlist</a></li>
                <li><a href="#">Shop</a></li>
            </ul>
        </div>
        <div>
            <h4>Quick Links</h4>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms Of Use</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div>
            <h4>Download App</h4>
            <p> <span> Save $3 with the app (new users only)</span></p>
            <div class="app-container">
                <div>
                    <img src="{% static 'images/qr-code.png' %}" alt="Mobile App Barcode">
                </div>
                <div>
                    <a href="#"><img src="{% static 'images/download-playstore.png' %}" alt="Download on Google Play"></a>
                    <a href="#"><img src="{% static 'images/download-appstore.png' %}" alt="Download on the App Store"></a>
                </div>
            </div>
            <ul class="social-links">
                <li><a href="#"> <i class="fa-brands fa-facebook-f"></i> </li>
                <li><a href="#"> <i class="fa-brands fa-twitter"></i> </li>
                <li><a href="#"> <i class="fa-brands fa-linkedin-in"></i> </li>
                <li><a href="#"> <i class="fa-brands fa-instagram"></i> </li>
            </ul>
        </div>
    </div>
    <div id="copyright" >
        <p>&copy; Copyright Wajahat Ahmad Technologies 2023. All rights reserved</p>
    </div>
</footer>
