{% load static %}
<footer>
    <div class="footer-main">
        <div class="footer-main__brand">
            <div class="footer-main__brand__wrapper">
                <h3 id="footer-logo">{{ brand_name }}</h3>
                <h4 class="my-3">Subscribe</h4>
                <p><span>Get 10% off your first order</span></p>
            </div>
            <form class="footer-main__brand__email-form">
                <div class="footer-main__brand__email-form__group">
                    <input 
                        class="footer-main__brand__email-form__input" 
                        type="email" 
                        name="" 
                        id="email-input" 
                        placeholder="Enter Your Email" 
                    />
                    <button class="footer-main__brand__email-form__button" type="submit">
                        <i class="fa-regular fa-paper-plane"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="footer-main__support">
            <h4>Support</h4>
            <address>
                <p>111 Kanju, Swat, KP, Pakistan.</p>
                <p><a href="mailto:artmartswat@gmail.com">artmartswat@gmail.com</a></p>
                <p><a href="tel:+92333456789101">+92-333-456789101</a></p>
            </address>
        </div>
        <div class="footer-main_account">
            <h4>Account</h4>
            <ul>
                <li><a href="#">My Account</a></li>
                <li><a href="#">Cart</a></li>
                <li><a href="#">Login / Register</a></li>
                <li><a href="#">Wishlist</a></li>
                <li><a href="#">Shop</a></li>
            </ul>
        </div>
        <div>
            <h4 class="footer-main__quick-link">Quick Links</h4>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms Of Use</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="footer-main__download-link">
            <h4>Download App</h4>
            <p> <span> Save $3 with the app (new users only)</span></p>
            <div class="footer-main__download-link__apps">
                <div class="footer-main__download-link__apps--full-height">
                    <img src="{% static 'images/qr-code.png' %}" alt="Mobile App Barcode">
                </div>
                <div class="footer-main__download-link__apps--half-height">
                    <a href="#"><img src="{% static 'images/download-playstore.png' %}" alt="Download on Google Play"></a>
                    <a href="#"><img src="{% static 'images/download-appstore.png' %}" alt="Download on the App Store"></a>
                </div>
            </div>
            <ul class="footer-main__download-link__links">
                <li><a href="#"> <i class="fa-brands fa-facebook-f"></i> </li>
                <li><a href="#"> <i class="fa-brands fa-twitter"></i> </li>
                <li><a href="#"> <i class="fa-brands fa-linkedin-in"></i> </li>
                <li><a href="#"> <i class="fa-brands fa-instagram"></i> </li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright" >
        <p>&copy; Copyright <a href="https://wajahatkanju.github.io/portfolio/" target="_blank">Wajahat Ahmad</a>  Technologies 2023. All rights reserved</p>
    </div>
</footer>
