{% load static %}
<header class="header">
  <ul class="header__categories">
    <li><a href="">Lorem, ipsum.</a></li>
    <li><a href="">Atque, similique?</a></li>
    <li><a href="">Similique, et.</a></li>
    <li><a href="">Aliquid, dolorum!</a></li>
    <li><a href="">Consequatur, accusamus?</a></li>
    <li><a href="">Consequatur, accusamus?</a></li>
    <li><a href="">Consequatur, accusamus?</a></li>
  </ul>
  <div class="header__caurosel">
    <img  class="header__caurosel__placeholder" src="{% static 'images/image-caursel-placeholder.png' %}" alt="">
  </div>
</header>