{% load static %}

<nav>
  <a  class="brand-logo" href="#">{{ site_name }}</a>
    <ul class="navigation-top">
      <li class="navigation-top__nav-item">
        <a href="{% url 'home' %}" class="navigation-top__nav-link" ">Home</a>
      </li>
      <li class="navigation-top__nav-item">
        <a href="{% url 'contact' %}" class="navigation-top__nav-link" >Contact</a>
      </li>
      <li class="navigation-top__nav-item">
          <a href="{% url 'about' %}" class="navigation-top__nav-link" >About</a>
      </li>
        {% if not user.is_authenticated %}
          <li class="navigation-top__nav-item">
            <a href="{% url 'register' %}" class="navigation-top__nav-link">Login/Register</a>
          </li>
        {% endif %}
    </ul>
  <div class="actions-top">
    
      <form class="actions-top__search">
          <div class="actions-top__search__group">
            <input class="actions-top__search__input" type="search" placeholder="What are you looking for?" aria-label="Search">
            <button class="actions-top__search__button" type="submit">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 20L16.2223 16.2156M18.3158 11.1579C18.3158 13.0563 17.5617 14.8769 16.2193 16.2193C14.8769 17.5617 13.0563 18.3158 11.1579 18.3158C9.2595 18.3158 7.43886 17.5617 6.0965 16.2193C4.75413 14.8769 4 13.0563 4 11.1579C4 9.2595 4.75413 7.43886 6.0965 6.0965C7.43886 4.75413 9.2595 4 11.1579 4C13.0563 4 14.8769 4.75413 16.2193 6.0965C17.5617 7.43886 18.3158 9.2595 18.3158 11.1579V11.1579Z" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                </svg> 
            </button>
          </div>

      </form>
      <i class="icon fa-solid fa-cart-shopping ms-4"></i>
      {% if user.is_authenticated %}
        <i class="icon fa-regular fa-heart ms-4"></i>
        <img src="{% static 'images/user.png' %}" alt="">
      {% endif %}
  </div>
</nav>
