{% load static %}
<script src="{% static 'vendor/elfyer/js/jquery.min.js' %}"></script>
<script src="{% static 'vendor/elfyer/js/popper.min.js' %}"></script>
<script src="{% static 'vendor/elfyer/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/elfyer/js/jquery-3.0.0.min.js' %}"></script>
<script src="{% static 'vendor/elfyer/js/plugin.js' %}"></script>
<!-- sidebar -->
<script src="{% static 'vendor/elfyer/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'vendor/elfyer/js/customs.js' %}"></script>
<script>
    function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    }
</script>