{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your App Title{% endblock %}</title>
    {% include 'includes/style.html'%}
</head>
<body>
    {% block promotioanl %}
        {% include 'includes/promotional.html'%}
    {% endblock promotioanl %}
    {% block nav %}
    {% endblock nav%}
    {% block header %}
        
    {% endblock header %}
    <main>
        {% block content %}
            <h1>Hello There</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia nihil quae recusandae id voluptate doloremque autem. Aliquid fuga magni esse consectetur, repudiandae hic ratione explicabo, deleniti unde incidunt a fugit!</p>
            <p>Quos cum ad, assumenda, veniam explicabo id ab provident necessitatibus laudantium adipisci iure voluptates modi! Quas voluptate velit, dolore, qui animi enim officiis, quis nemo quae voluptatum aliquam commodi nam!</p>
            <p>Veniam voluptatem quas iste maiores. Reprehenderit quasi non labore, consectetur ullam sequi est nihil repudiandae voluptatum error ut inventore. Quae aliquam ducimus fuga ipsum eum ipsa nesciunt voluptatem quidem debitis?</p>
            <p>Natus, sit. Animi iste dignissimos obcaecati! Molestias sunt autem fugiat omnis ut, quaerat, ea ad et accusantium voluptas placeat deserunt minima perspiciatis. Sunt non est veritatis? Voluptatibus in delectus quos!</p>
            <p>Eius officiis veritatis voluptatibus nam ducimus perferendis cupiditate laboriosam, nulla non sapiente, reprehenderit nisi ex, laudantium provident accusantium at dicta magni repellendus! Quos odio labore non odit. Saepe, quia atque.</p>
            <p>Suscipit possimus, incidunt sint praesentium ea qui nesciunt veritatis ullam cumque! Aliquid in, dignissimos ab, quis ratione placeat blanditiis atque repudiandae assumenda laborum asperiores, libero laboriosam error eos consectetur optio!</p>
            <p>Vitae eveniet hic a ipsum excepturi harum ab, aliquam non ipsa ut sed odio quidem ea iusto sapiente blanditiis similique saepe necessitatibus beatae impedit. Quae vero nulla fuga unde ullam.</p>
            <p>Officia, laboriosam sint voluptas aliquam nihil accusantium facilis, sapiente aspernatur reprehenderit ea temporibus similique saepe ducimus deleniti ad vero consequatur ex quasi. Molestias, nesciunt placeat. Quidem aperiam fugit accusantium qui.</p>
            <p>Totam aperiam molestias non laborum. Error quae possimus itaque nulla tempore, ad enim eos sint perspiciatis culpa est adipisci, accusamus sequi debitis. Doloribus vero quisquam assumenda necessitatibus rerum, blanditiis natus?</p>
        {% endblock %}
    </main>
    {% include "includes/footer.html" %}
    {% block scripts %}
        {% include "includes/scripts.html" %}
    {% endblock scripts %}
</body>
</html>
