{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your App Title{% endblock %}</title>
    {% include 'includes/style.html'%}
</head>
<body>
    <header>
        {% block header %}
            {% include 'includes/header.html'%}
        {% endblock header %}
    </header>
    <main>
        {% block content %}
            <h1>Hello There</h1>
        {% endblock %}
    </main>
    <footer>
    </footer>
    {% block scripts %}
        {% include "includes/scripts.html" %}
    {% endblock scripts %}
</body>
</html>
