$primary-white: #FFF;
$primary-dark-grey: #363738;
$primary-dark: #000;


$secondary-1: #F5F5F5;
$secondary-2: #FEFAF1;

$text-white: #FAFAFA;
$text-light-grey: #b3b3b3;
$text-dark-grey: #7D8184;
$text-dark: #000;

$button-dark: #000;


$accent: #D84444;

$button-primary: #00FF66;
$button-secondary: $accent;
$button-secondary-hover: #E07575;
