@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

$ff-heading: 'Inter', sans-serif;
$ff-body: 'Poppins', sans-serif;

$fs-xxl: 6rem;
$fs-xl: 5rem;
$fs-lg: 4rem;
$fs-700: 3rem;
$fs-650: 2.5rem;
$fs-600: 2rem;
$fs-500: 1.5rem;
$fs-450: 1.25rem;
$fs-400: 1rem;
$fs-350: 0.75rem;
$fs-300: 0.5rem;
$fs-200: 0.25rem;

$fw-thin: 300;
$fw-normal: 400;
$fw-bold: 500;
$fw-bolder: 700;
$fw-boldest: 900;

$size-small: 3px;
$size-medium: 7px;
$size-large: 8px;


