.navbar{
    min-height: 7rem;
}

.header-logo{
    /* Heading/24PX Bold */
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 100% */
    letter-spacing: 0.72px; 
}
.navbar-nav .nav-item .nav-link{
    color: #000;
    text-align: center;

    /* Title/16PX Regular */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}


#search{
    background: #F5F5F5;
}

#search #search-input{
    background: #F5F5F5;
    border: none;
}
#search #search-input:focus{
    box-shadow: none;
}

.icon{
    font-size: 28px;
    text-align: center;
}


.sale{
    font-family: Poppins;
    color:#FAFAFA; 
    background: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.sale #action{
    color:#FAFAFA; 
    text-align: center;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
    text-decoration-line: underline; 
}
#lang-select{
    width: 6rem;
    font-weight: 700;
    appearance: none;
    border: none;
    background-color: #000;
    color: #FAFAFA;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.364 12.95L17.314 8L18.728 9.414L12.364 15.778L6.00003 9.414L7.41403 8L12.364 12.95Z' fill='white'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: right center;
}