{% extends "_base.html" %}
{% load static crispy_forms_tags %}

{% block content %}
  <section class="authentication-container">
    <div class="authentication-container__side-image-wrapper">
      <img src="{% static  'images/side-img.png' %}" alt="side image">
    </div>
    <div class="authentication-container__form-wrapper">
      <div class="authentication-container__form-wrapper__register__card">
        <h2>Log in to {{ site_name }}</h2>
        {% crispy form %}
      </div>
      <a class="authentication-container__form-wrapper--link-secondary" href="#">Forgot Password</a>
      <p> <span>Don't Have An Account ?</span><a href="{% url 'register' %}">Register</a></p>
    </div>
  </section>
{% endblock %}