{% extends "_base.html" %}
{% load static crispy_forms_tags  %}

{% block content %}
  <section class="authentication-container">
    <div class="authentication-container__side-image-wrapper">
      <img src="{% static  'images/side-img.png' %}" alt="side image">
    </div>
    <div class="authentication-container__form-wrapper">
      <div class="authentication-container__form-wrapper__register__card">
        <h2>Create an Account</h2>
          {% crispy form %}
          
      </div>
        <p> <span>Already have account? </span><a href="{% url 'login' %}">Login</a></p>
    </div>
  </section>
{% endblock %}