{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Your App{% endblock %}</title>
    <!-- Add your CSS and JavaScript files here -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <!-- Add your header content here -->
    </header>

    <main>
      {% block content %}
      <!-- Add your main content here -->
      {% endblock %}
    </main>

    <footer>
      <!-- Add your footer content here -->
    </footer>

    <!-- Add your JavaScript files here -->
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
